*,
::after,
::before {
    box-sizing: border-box;
}


html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: regular-font;
    src: url('../../fonts/AvenirNextLTPro-Regular\ \(1\).otf');
}

@font-face {
    font-family: bold-font;
    src: url('../../fonts/AvenirNextLTPro-Bold.otf');
}

@font-face {
    font-family: light-font;
    src: url('../../fonts/AvenirNextLTPro-It.otf');
}

body {
    background: #000000;
    font-family: bold-font;
}